@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/typography";
@import "components/box";
@import "components/button";
@import "components/progress-bar";
@import "components/spending-chart";
@import "layout/header";


.stats {
    @include flex-center;
    gap: 8rem;
    padding: 1.6rem;

    &__num {
        font-weight: 700;
        font-size: 1.6rem;
        color: $blue-light;
    }
}

.bill {
    height: 4.4rem;
    border-radius: 0.8rem 0.4rem;
    margin: 0.6rem 0.6rem 0.6rem 0;
    background-color: $primary-light-2;
    padding: 0.2rem 0.8rem;
    &__name,
    &__amount {
        display: inline-block;
        margin: 1rem;
    }
}

.search {

    &__input {
        padding: 0.6rem;
        margin: 0 1rem 1.2rem 0;
        border-radius: 0.6rem;
        border: none;
        opacity: 0.6;
    }
}

.bill__x {
    background-color: $primary-light-2;
    border: none;
    padding: 0.2rem;
    color: $white;
    font-size: 1.7rem;
    font-weight: 450;
    cursor: pointer;
}

.journal {

    margin: 2rem 0;

    &__entry {

        border-bottom: solid 1px white;

        &--headers,
        &--name,
        &--description,
        &--amount {
            width: 10rem;
            padding: 0.4rem 2rem 0.4rem 0;
        }

        &--headers {
            text-align: left;
        }
        
    }
    
}

.goalsList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal {
    border: 0.2rem solid $primary-light-2;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    width: 20%;
    height: 12rem;

    &:hover {
        background-color: $primary-light-2;
    }
}

.addNew{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount {
    width: 5%;
}