@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/typography";


.box {
    background-color: $primary-light;
    margin: 1rem;
    border-radius: 1rem;
    padding: 2rem;

    &__title {
        margin-bottom: 1.2rem;
        text-align: center;
    }
}

.header {
    padding: 2rem;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.4rem;
    h1 {
        font-weight: 100;
    }
}

.btn {
    background-color: $primary-dark;
    border: none;
    padding: 1rem 1.2rem;
    border-radius: 0.8rem;
    color: $white;
    font-family: 'IBM', sans-serif;
    cursor: pointer;
}

.stats {
    @include flex-center;
    gap: 8rem;
    padding: 1.6rem;

    &__num {
        font-weight: 700;
        font-size: 1.6rem;
        color: $primary-blue-2;
    }
}

.bill {
    height: 4.4rem;
    border-radius: 0.8rem 0.4rem;
    margin: 0.6rem 0.6rem 0.6rem 0;
    background-color: $primary-light-2;
    padding: 0.2rem 0.8rem;
    &__name,
    &__amount {
        display: inline-block;
        margin: 1rem;
    }
}

.search {

    &__input {
        padding: 0.6rem;
        margin: 0 1rem 1.2rem 0;
        border-radius: 0.6rem;
        border: none;
        opacity: 0.6;
    }
}

.bill__x {
    background-color: $primary-light-2;
    border: none;
    padding: 0.2rem;
    color: $white;
    font-size: 1.7rem;
    font-weight: 450;
    cursor: pointer;
}

.journal {

    margin: 2rem 0;

    &__entry {

        border-bottom: solid 1px white;

        &--headers,
        &--name,
        &--description,
        &--amount {
            width: 10rem;
            padding: 0.4rem 2rem 0.4rem 0;
        }

        &--headers {
            text-align: left;
        }
        
    }
    
}

.spendingChart {
    height: 10rem;
}

.goalsList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal {
    border: 0.2rem solid $primary-light-2;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    width: 20%;
    height: 12rem;

    &:hover {
        background-color: $primary-light-2;
    }
}

.addNew{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount {
    width: 5%;
}