$primary-dark: #1D2041;
$primary-light: #2C325C;
$primary-light-2: #414775;
$white: #fff;
$blue: #465BCA;
$blue-light: #566ace;
$pink: #FF5497;
$orange: #FFA05D;
$pink-dark: #9D3171;
$orange-dark: #CC804A;