@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";

@import "components/asset";
@import "components/bill";
@import "components/box";
@import "components/button";
@import "components/goal";
@import "components/journal";
@import "components/progress-bar";
@import "components/spending-chart";

@import "layout/header";


.stats {
    @include flex-center;
    gap: 8rem;
    padding: 1.6rem;

    &__num {
        font-weight: 700;
        font-size: 1.6rem;
        color: $blue-light;

        &--assets {
            color: $pink;
        }
    }
}

.search {

    &__input {
        padding: 0.6rem;
        margin: 0 1rem 1.2rem 0;
        border-radius: 0.6rem;
        border: none;
        opacity: 0.6;
    }
}

.goalsList {
    @include flex-center;
}

.addNew{
    cursor: pointer;
    @include flex-center;
}

.amount {
    width: 7%;
}

.assetsList {
    @include flex-center;
}
