* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #1D2041;
  box-sizing: border-box; }

@font-face {
  font-family: "IBM";
  src: url(../assets/IBMPlexSans-Regular.ttf);
  src: url(../assets/IBMPlexSans-ExtraLight.ttf); }

body {
  color: #fff;
  font-family: 'IBM', sans-serif;
  font-size: 1.6rem; }

.asset {
  border: 0.2rem solid #414775;
  border-radius: 0.8rem 0.2rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  width: 16%;
  height: 8rem;
  position: relative; }
  .asset:hover {
    background-color: #414775; }
  .asset__mainInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.6rem; }
  .asset__date {
    position: absolute;
    bottom: .1rem;
    left: 1rem;
    font-size: 1.1rem; }
  .asset__symbol {
    color: #9D3171;
    font-size: 2rem;
    font-weight: 800; }
  .asset__x {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    transition: all .1s;
    position: absolute;
    top: .1rem;
    right: 1rem; }
    .asset__x:hover {
      transform: scale(1.1); }

.bill {
  height: 4.4rem;
  border-radius: 0.8rem 0.2rem;
  margin: 0.6rem 0.6rem 0.6rem 0;
  background-color: #414775;
  padding: 0.2rem 0.8rem;
  cursor: pointer; }
  .bill__name, .bill__amount {
    display: inline-block;
    margin: 1rem; }
  .bill:hover {
    background-color: #1D2041; }
  .bill__x {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    transition: all .1s; }
    .bill__x:hover {
      transform: scale(1.1); }

.done > * {
  text-decoration: line-through;
  opacity: 0.4; }

.box {
  background-color: #2C325C;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2rem; }
  .box__title {
    margin-bottom: 1.2rem;
    text-align: center; }
  .box__content {
    display: flex;
    justify-content: center;
    align-items: center; }

.btn {
  background-color: #1D2041;
  border: none;
  padding: 1rem 1.2rem;
  border-radius: 0.8rem 0.2rem;
  color: #fff;
  font-family: 'IBM', sans-serif;
  cursor: pointer;
  transition: all .4s; }
  .btn:hover {
    transform: scale(1.1); }

.goal {
  border: 0.2rem solid #414775;
  border-radius: 0.8rem 0.2rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  width: 20%;
  height: 12rem; }
  .goal:hover {
    background-color: #414775; }

.journal {
  margin: 2rem 0;
  width: 50rem;
  background-color: #414775;
  padding: 2rem;
  border-radius: 0.8rem 0.2rem; }
  .journal__entry {
    border-bottom: solid 1px white; }
    .journal__entry--headers, .journal__entry--name, .journal__entry--description, .journal__entry--amount {
      width: 10rem;
      padding: 0.4rem 2rem 0.4rem 0; }
    .journal__entry--headers {
      text-align: left;
      font-size: 2rem; }
    .journal__entry--description {
      font-weight: 700; }

.dark-pink {
  color: #9D3171; }

.dark-blue {
  color: #1D2041; }

.dark-orange {
  color: #b96528; }

.orange {
  color: #FFA05D; }

.pink {
  color: #FF5497; }

.blue {
  color: #465BCA; }

.green {
  color: #28b953; }

.blue-light {
  color: #7e90ec; }

.progress-bar {
  height: 2rem;
  background-color: #1D2041;
  border-radius: 1rem;
  position: relative;
  margin-top: 1rem; }
  .progress-bar__bar {
    position: absolute;
    border-radius: 1rem;
    height: 100%;
    background-color: #b96528;
    width: calc(var(--width, 0) * 1%);
    max-width: 100%; }

.spendingChart {
  height: 20rem; }

.header {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.3rem; }
  .header h1 {
    font-weight: 100; }

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 1.6rem; }
  .stats__num {
    font-weight: 700;
    font-size: 1.6rem;
    color: #7e90ec; }

.search__input {
  padding: 0.6rem;
  margin: 0 1rem 1.2rem 0;
  border-radius: 0.6rem;
  border: none;
  opacity: 0.6; }

.goalsList {
  display: flex;
  justify-content: center;
  align-items: center; }

.addNew {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.amount {
  width: 7%; }

.assetsList {
  display: flex;
  justify-content: center;
  align-items: center; }
